<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- appender 指定如何输出日志
         name 类似于Spring.xml中的id
         class    指定输出日志的格式
    -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern> [%p] %d{yyyy-MM-dd HH:mm:ss} %m %n</pattern>
        </layout>
    </appender>
    <!-- 项目日志 -->
    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>
    <!-- 子日志 输出样式和项目日志一致-->
    <logger name="com.baizhi.dao" level="DEBUG"/>
</configuration>